
.colors {
  color: #F8EDED;
  color: #FF8225;
  color: #B43F3F;
  color: #173B45;
}


.Events-page {
  text-align: center;
  background-color: #F8EDED;
}

.events-introduction {
  background-image: url("https://pub-b659d9958160414ca1535341505c5f7c.r2.dev/671123a3-b7ec-46c8-9627-739cf9384730%20-%20Edited%20(1).jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 80vh;

}

.Events {
  padding: 15px;
  background-color: #F8EDED;
}

.events-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #173B45;
  gap: 25px;
  padding: 25px;
  justify-self: center;
}

.event-card {
  border-radius: 5px;
  padding: 10px;
  height: 33rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #B43F3F;
}

.event-photo {
  display: flex;
  border-radius: 6px;
}

.event-photo img {
  width: 100%;
  border-radius: 12px;

}

.event-title h1 {
  white-space: nowrap;
}

.event-when h2,
.event-where h2 {
  white-space: nowrap;
}

/* Responsive stack on smaller screens */
@media (max-width: 1074px) {
  .events-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .events-grid {
    grid-template-columns: 1fr;
  }
}
